
# Backup archives
*.zip
backend/.env
# Python cache
__pycache__/
*.pyc

# Local databases
*.db

# Local datasets
data/

# VS Code local settings
.vscode/

backend/secrets/
backend/secrets/firebase-service-account.json
.env
.env.*
!backend/.env.example
*.sqlite
*.sqlite3
.venv/
venv/
